[submodule "framework"]
	path = framework
	url = https://github.com/itlezy/eMule-mbedtls-framework.git
	branch = emule-build-v0.72a
[submodule "tf-psa-crypto"]
	path = tf-psa-crypto
	url = https://github.com/itlezy/eMule-TF-PSA-Crypto.git
	branch = emule-build-v0.72a
